<!doctype html>
<html lang="en" data-bs-theme="light">
    <head>
        <title>login page</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS v5.3.8 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        />
    </head>

     <body style="background: linear-gradient(to left ,var(--bs-primary),var(--bs-dark));">
        <header>
            
        </header>
        <main >
            <h1 style="text-shadow:2px 3px 5px black;" class="text-center text-danger mt-2">Login!!!</h1>
            <div
                class="container"
            >
                <div
                    class="row justify-content-center align-items-center g-2"
                >
                    <div class="col-6 mt-4 border rounded-4 shadow p-3 bg-dark text-light text-center"><form action="/login" method="post">
                                <h6 class="text-light">Login here...</h6>
                            Name:
                            <input type="text" name="name" id=""  class="rounded-4 mt-4"/><br/>
                            Password:
                            <input type="text" name="password" id="" class="rounded-4 mt-4"/><br/>
                            <button type="submit" class="bg-danger rounded-4 p-2 mt-4">Submit</button>
                            <button type="reset"class="bg-danger rounded-4 p-2 mt-4 ms-2">Reset</button>
                    </form></div>
                    
                </div>
                
            </div>
            
        </main>
        <footer>
          
        </footer>
       
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
